{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Equations</h1>
<div class="row">
{% for equation in equations %}
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static "img/folder.png" %}">
            <div class="card-body">
                <label> Name: </label>
                <h5 class="card-title">{{ equation.name }}</h5>
                <label> Description: </label>
                <p class="card-text">{{ equation.description }}</p>
                <a href="{% url 'equation_detail' equation.pk %}"
                   class="btn btn-primary">
                    Open
                </a>
                <a href="{% url 'deleteequation' equation.pk %}"
                   class="btn btn-primary">
                    Delete
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</br>
</br>
</br>
<div class="form-group">
<h4> Add Equation</h4>
<form action="{% url 'createequation' folderpk %}" method="POST">
{% csrf_token %}
Name : <input class="form-control"  type="text" name="name"/><br/>
Equation : <input class="form-control"  type="text" name="equation"/><br/>
Variables : <input class="form-control"  type="text" name="variables"/><br/>
Description : <input class="form-control"  type="text" name="description"/><br/>

</div>
<button class="btn btn-primary" type = "submit" value = "Post">add</button>
</form>
{% endblock %}
