<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN'
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'>
  <html xmlns='http://www.w3.org/1999/xhtml'>
{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1 >Name: {{ equation.name }}</h1>

<label>Description: {{equation.description }}</label>
</br>
<label>Equations: {{equation.equation }}</label>
</br>
</br>
</br>
<div style="margin-left: 40px" class="form-group">
<form  id="solve"  method="POST">
  {% csrf_token %}
  {% for variable in variables %}
  <label >{{variable}}</label>
  <input id="vars" type="text" name="{{variable}}"/><br/>
  {% endfor %}
  <button  class="btn btn-primary" id="submitButton" type = "submit" value = "Post">solve</button>
</form>
<label id="result" style="margin-left: 40px">{{result}}</label>
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
$('#solve').on('submit', function(event){
    event.preventDefault();
    $.ajax({
  type: "POST",
  url: "{% url 'solve' equation.pk %}",
  data: $("#solve").serialize()
  }).done(function( o ) {
     $('#result').text(o.result);
  });
});
</script>
{% endblock %}
</div>

{% endblock %}
</html>
